main{
  background-color:#E8E8E8;
  border-radius:15px;
  text-align:center;
  padding:6px;
  margin-top:26px;
   font-family : Times New Roman;
}
header{
  font-size:22px;
}
#img-div{
 border:1px solid gray;
  padding:15px;
  margin-bottom : 40px;
}
h2{
  margin-right:40px;
  padding:40px;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size:15px;
}

li {
  margin: 16px 0;
}
#end{
  width:500px;
  position:absolute;
  left:10px;
  
  
 color:black;padding:20px;margin: 20px 10px 20px 0px;
  
}
@media (max-width: 460px){
  
}
@media  screen and (max-width:600px)
{
  
 
  #image{
    width:80px;
    height:85px;
  }
  p{
    font-size:15px;
  }
}